.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 320px;
    margin: auto;
    padding: 10px;
}

.track-artist,
.track-name {
    margin: 10px 0px;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.track-image-container {
    width: 100%;
    height: 320px;    
    img {
        max-width: 100%;
        height: 100%;
    }
}

.progress-bar-container {
    width: 100%;
    margin: 20px 0 40px;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.action-button {
    color: white;
    border-radius: 100%;
    background-color: gray;
}